{% extends 'main/base.html' %}
{%load static%}

{%block title%}
  KKK
{%endblock%}
<div>
  {%if Collection.image%}
  <img src="{{MEDIA_URL}}{{main.image.url}}">
  {%endif%}
</div>


{%block content %}
<center>
  <h1> Global </h1>
  <p>Nigggaaa</p>
</center>
<main>
  <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
  {%if Catalog%}
    {% for i in Catalog%}
      <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">
                    {{i.type}}
                  </h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">{{i.price_field}}<small class="text-muted fw-light"></small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>{{i.title}}</li>
                    <li>{{i.Name_from_list}}</li>
                    <td><img src="static\main\img\{{ i.photo }}" width="120" height="120"  /></td>
                  </ul>
                  <form method="post">
                    {% csrf_token %}
                    <button type="submit" value="{{i.id}}" class="btn btn-warning" name="buy_btn">Buy right now</button>
                  </form>

                </div>
              </div>
            </div>


    {%endfor%}
  {%else%}

    <p>Зачистили всех!</p>
  {%endif%}

</div>




  </main>

{%endblock%}

