{% extends 'main/base.html' %}
{%load static%}

{%block title%}
  KKK
{%endblock%}
<div xmlns="http://www.w3.org/1999/html">
  {%if Collection.image%}
  <img src="{{MEDIA_URL}}{{main.image.url}}">
  {%endif%}
</div>


{%block content %}

<main >
  <div class="row row-cols-1 row-cols-md-4 text-center outer ">


  {%if Catalog%}
    {% for i in Catalog%}
      <div class="col">
              <div class="card mb-4 shadow-sm ">
                <div class="card-header py-3" style="display: flex; justify-content: center; align-items: center; height : 100px ;">
                  <h4 class="my-0 fw-normal">
                    {{i.type}}
                  </h4>
                </div>
                <div class="card-body">

                  <ul class="list-unstyled mt-3 mb-4">

                    <li>{{i.title}}</li>
                    <td><img style="box-shadow: 0px 0px 7px RGB(100,100,100);" src="static\main\img\{{ i.photo }}" width="250" height="250"  /></td>

                  <h1 class="card-title pricing-card-title " style="margin-top:20px">{{i.price}} ₽<small class="text-muted fw-light "></small></h1>
                  </ul>
                    <form action="{% url 'detail' product_id=i.id %}">
                      <button  type="submit" class="btn" value="" style="color:#fff; background-color: RGB(100,100,100)" >Дополнительно</button>
                  </form>


                </div>
              </div>
            </div>


    {%endfor%}
  {%else%}

    <p>Зачистили всех!</p>
  {%endif%}

</div>




  </main>

{%endblock%}

<style>
  .outer {
    text-align: center;
    border: 1px solid blue;
  }
</style>