<{% extends 'main/base.html' %}
{%load static%}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">


{% block content %}






<div class="card">
    <form method="post">
        {% csrf_token %}
        <div class="tab-pane active" id="pic-1"><img src="..\static\main\img\{{ product.photo_kit.minor_3 }}" />
        <div style="margin: 30px">
            {{form.as_p}}
        Изделие: {{product.type}}<br>
            <div style="margin-top: 10px">
        Сумма: {{product.price}}₽<br>
                </div>
            <div style="margin-top: 10px">
        <button type="submit" style="border-radius: 4px;background-color: #646464;;color: white;" name="createb" >Заказать</button>
                <div/>
        </div>

        <form/>


    <script src = "{%static 'main/js/getvalue.js'%}"></script>
{% endblock %}
</html>
